{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% block content %}
<div class="row">
    <div class="col-lg-8">
        <h1>Welcome to the module page</h1>
        <p>{{customMessage}}</p>
    </div>
</div>
{% endblock %}
